.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}



.btn{
 padding: 1vw;
 border-radius: 20vw;
 background-color: #cfcfde;
 border: none;
 
}